{% extends 'admin/master.html'%}

{% block body%}

<h1 class="text-center text-info">Chào mừng đến với trang QUAN TRI</h1>

{% if current_user.is_authenticated %}
<h2 class = "text-info">Chao {{current_user.name}}</h2>
{% else %}
<form method="post" action="/admin/login">
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Username:</label>
        <input type="text" class="form-control" id="email" placeholder="Enter username" name="username">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Dang nhap</button>
</form>
{% endif%}
{% endblock %}