<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ban hang</title>

</head>
<body>
{% extends 'layout/base.html' %}

{% block content%}
<ul class="pagination">
    {% for i in range (1, pagenumber) %}
  <li class="page-item"><a class="page-link" href="/?page={{ i }}">{{i}}</a></li>
    {% endfor%}
</ul>
<section class="container">
    <div class="row">
        {% for x in products%}
        <div style="padding :  10px" class="col-md-3">
            <div class="card" >
                <img class="card-img-top" src="{{x.image}}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{x.name}}</h4>
                    <p class="card-text">{{x.price}}</p>
                    <a href="#" class="btn btn-primary">Xem thêm</a>
                    <a href="#" class="btn btn-danger">Đặt hàng</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}


</body>
</html>